html {
    box-sizing: border-box;
    background-color: rgb(35, 45, 59);
}

body {
    margin: 100px auto;
}

.container {
    width: 480px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 20px;
    background-color: rgb(81, 81, 107);
    box-shadow: 4px 4px 10px rgb(30, 40, 48);   
}

.container div {
    margin-top: 25px;
}

span {
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 207, 157);
    margin-top: 4vh;
    letter-spacing: 2px;
}

h1 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    line-height: 25px;
    text-align: center;
}

button {
    width: 15%;
    height: 20%;
    background-color: rgb(57, 207, 157);
    padding: 10px 10px;
    border-radius: 100%;
    float: right;
    position: relative;
    top: 4.5vh;
}

button img {
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(44, 177, 133);
}

button:active {
    background-color: rgb(38, 134, 102);
}

.divider {
    width: 80%;
    color: white;
    margin-bottom: -50px;
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 400px;
    }
    
}